*{
    /* background-color: darkgray; */
}
#title{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 130px;
    color: #000000;
    background: #0bd3d3;
}
body{
    /* background-color: darkgray; */
    background-color: #f890e7;

}
.container{
    /* background-color: darkgray; */
}
.row{
    /* background-color: darkgray; */
    text-align: center;
    font-family: 'Kalam', cursive;
}
#directions{
    text-align: center;
    color: #ffffff;

}
#artim{
    background-color: #bb0a1e;
    border: 5px dashed black;
    margin-right: 20px;
}
#gamehere{
    background-color: blue;
    border: 5px dashed 	#0bd3d3;
}